.footer{
    background-color: antiquewhite;
    padding: 50px;
    
    display: flex;
    justify-content: flex-end;

}
.footer a{
    padding: 0 20px;
    font-size: 30px;

    color: black;
}

.footer a:hover{
    color: brown;
}
